* {
  margin: 0;
  padding: 0;
}
body{
  background-image: url(/background.png);
}
:root{
  --cardColor: rgb(60, 78, 87);
  --boxSpread: 100px;
  --boxColor: rgb(60, 78, 87);
}
.controls{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
  border: 1px solid transparent;

}
.card{
  width: 20vw;
  height: 50vh;
  margin: 20vh auto 5vh auto;
  background-color: var(--cardColor);
  box-shadow: 0px 0px var(--boxSpread) var(--boxColor);
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-control{
  display: flex;
  flex-direction: column;
  align-items: center;
}
